<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WhatIsMyIPprefs</string>
	<key>CFBundleIconFile</key>
	<string>QtSee</string>
	<key>CFBundleIdentifier</key>
	<string>com.clanmills.cocoatutorials.QtSee</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WhatIsMyIPprefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>What Is My IP Prefs</string>
	<key>NSPrefPaneIconFile</key>
	<string>wimi.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>What Is My IP</string>
	<key>NSPrincipalClass</key>
	<string>WhatIsMyIPprefsPref</string>
</dict>
</plist>
